footer {
    position: relative;
    z-index: 1;
    align-content: center;
    height: 80px;
    background-color: #333;
    color: #fff;
}

footer div {
    width: 80%;
    text-align: center;
    margin: 0 auto;
}